<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout entregable</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div><p>Logo</p></div>
      <div><p>Contenido head</p></div>
    </header>
    <nav><p>Navegador</p></nav>
    <aside><p>Barra lateral</p></aside>
    <main>
      <section class="section1">
        <article class="articulo1"><p>Articulo 1</p></article>
        <article class="articulo2"><p>Articulo 2</p></article>
      </section>
      <section class="section2">
        <article class="articulo3"><p>Articulo 3</p></article>
      </section>
    </main>
    <footer><p>Pie de pagina</p></footer>
  </body>
</html>
